body {
	background: linear-gradient(220deg, #662424, #610a96, #a70230, #c25c00, #c5be10, #77c510, #10c561, #10c5b1, #1059c5);
	background-size: 1800% 1800%;
	color: #ffffff;
	font-family: raleway;
	-webkit-animation: moodifAI 15s ease infinite;
	-moz-animation: moodifAI 15s ease infinite;
	animation: moodifAI 15s ease infinite;
}

@font-face {
	font-family: raleway;
	src: url('Raleway-Regular.ttf');
}

@-webkit-keyframes moodifAI {
    0%{background-position:92% 0%}
    50%{background-position:9% 20%}
    100%{background-position:92% 0%}
}
@-moz-keyframes moodifAI {
    0%{background-position:92% 0%}
    50%{background-position:9% 20%}
    100%{background-position:92% 0%}
}
@keyframes moodifAI {
    0%{background-position:92% 0%}
    50%{background-position:9% 20%}
    100%{background-position:92% 0%}
}

.my-navbar {
	border-radius: 0;
	margin-bottom: 0;
}

.my-button {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
	border: 0.5px solid #ffffff;
}

.main-content {
	margin-top: 20vh;
}

.splash-screen-video {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tweet-container {
	margin-top: 5px;
	margin-bottom: 5px;
}

#main-body {
	margin-top: 15vh;
	visibility: hidden;
}

#title {
	font-family: raleway;
	font-size: 10em;
	color: #ffffff;
}

#button-container-left {
}

#button-container-right {
}